**LAB NO 1**

In [22]:
#Example No 1
name = "John"
age = 25
print(f"My name is {name}, and I am {age} years old.")

My name is John, and I am 25 years old.

**LOOPS**

In [24]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    
    print(f"I love {fruit}")

I love apple
I love banana
I love cherry

**Function**

In [27]:
def greet(name):
    
    return f"Hello, {name}!"

In [28]:
print(greet("Alice"))

Hello, Alice!

**CSV FILE**

In [29]:
import csv
# Data to write (list of lists)
data = [
 ["Name", "Age", "City"], # Header
 ["John", 25, "New York"],
 ["Anna", 30, "Los Angeles"],
 ["Mike", 35, "Chicago"]
]
# Creating and writing to a CSV file
with open('General.csv', mode='w', newline='') as file:
 writer = csv.writer(file)
 writer.writerows(data) # Write multiple rows
print("CSV file 'General.csv' created and data written successfully!")

CSV file 'General.csv' created and data written successfully!

**Read from a CSV File**

In [32]:
with open('General.csv' , mode='r') as file :
    read = csv.reader(file)
    for row in read:
        print(row)

['Name', 'Age', 'City']
['John', '25', 'New York']
['Anna', '30', 'Los Angeles']
['Mike', '35', 'Chicago']

**Working with json**

In [33]:
import json
# Data to write (dictionary)
data = {
 "people": [
 {"name": "John", "age": 25, "city": "New York"},
 {"name": "Anna", "age": 30, "city": "Los Angeles"},
 {"name": "Mike", "age": 35, "city": "Chicago"}
 ]
}
# Creating and writing to a JSON file
with open('people_data.json', mode='w') as file:
 json.dump(data, file, indent=4) # Write JSON with indentation for readability
print("JSON file 'General.json' created and data written successfully!")

JSON file 'General.json' created and data written successfully!

In [45]:
with open('people_data.json' , mode='r') as file:
    data = json.load(file)  
    print(data.get('people')[0]['name'])

John

**Factorial of a given number**

In [67]:
def fictorials(n):
    if n<0:
        print("Number is less than 0 so no fictorial")
    elif n==0 or n==1: 
        return 1
    else:
        result=1
        for fic in range(1,n+1):
            result *=fic
        return result

In [68]:
fictorials(4)

24

**Task No 2**

In [75]:
import json
data = {
 "people": [
 {"name": "John", "age": 25, "city": "New York"},
 {"name": "Anna", "age": 30, "city": "Los Angeles"},
 {"name": "Mike", "age": 35, "city": "Chicago"}
 ]
}
with open('items.json' , mode='w') as file:
    json.dump(data,file )

In [77]:
with open('items.json' , mode='r') as file:
    result =  json.load(file)

In [78]:
print(result)

{'people': [{'name': 'John', 'age': 25, 'city': 'New York'}, {'name': 'Anna', 'age': 30, 'city': 'Los Angeles'}, {'name': 'Mike', 'age': 35, 'city': 'Chicago'}]}